h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
}

ul {
  list-style: none;
}

.main-title {
  color: blue;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
  padding: 20px;

  border: 2px solid tomato;
  border-radius: 4px;

  background-color: rgb(210, 248, 135);
}

.task-item:not(:last-child) {
  margin-bottom: 20px;
}

.task-title {
  min-width: max-content;
  margin-right: 20px;

  color: red;
}

.task-description {
  flex-grow: 1;
  margin-right: 20px;

  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.button {
  min-width: max-content;
  padding: 10px;
  border: 2px solid green;
  border-radius: 4px;

  font-weight: 500;
  font-size: 20px;
  background-color: tomato;
  color: white;
}
